.gallery-image {
    float:left;
    outline:1px solid #5555ff;
}

.image-footer {
    background-color: #5555ff;
    color: white;
    font-family: sans-serif;
    font-size: 0.9em;
    font-variant: small-caps;
    height: 20px;
    margin-top: -6px;
    overflow: hidden;
    padding-top: 6px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}